@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One');

body{
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  font-family: 'Black Ops One', sans-serif;
  user-select: none;
  background-image: linear-gradient(to right, #f59001 0%, #441502 100%);

  div.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}
